<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JsonFinder</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <body>
        <form action="" method="post">
            <textarea name="json" id="jsonID"></textarea>
            <input type="text" name="search">
            <button name="find">
                <h1>Buscar</h1>
            </button>
        </form>
        <div name="resultado">

        </div>
    </body>
</body>
</html>